<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="background: #f4f5f8;">{{title}}</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="publish()">发表
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-item style="--border-width:0">
      <ion-textarea [(ngModel)]="text" style="margin-bottom: 6rem;"></ion-textarea>
  </ion-item>
  <div *ngIf="pictureMoments" style="display: flex;flex-wrap:wrap">
      <div *ngFor="let pictureImgPath of pictureMoments;index as i" style="margin-left: 0.25rem;margin-right: 0.25rem;display:inline-block;width:125px;height:125px;">
          <img style="width:125px;height:125px;object-fit: cover;"src="data:image/jpeg;base64,{{pictureMoments[i]}}">
      </div>
  </div>
  <ion-list lines="none">
    <ion-item href="collect">
      <ion-icon slot="start" color="medium" name="pin"></ion-icon>
      <ion-label>所在的位置</ion-label>
    </ion-item>
    <ion-item href="album">
      <ion-icon slot="start" color="medium" name="at"></ion-icon>
      <ion-label>提醒谁看</ion-label>
    </ion-item>
    <ion-item href="card">
      <ion-icon slot="start" color="medium" name="person"></ion-icon>
      <ion-label>谁可以看</ion-label>
    </ion-item>
  </ion-list>
</ion-content>