.p {
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
    margin: 0;
  }
  .wechat{
    font-size: 28px;margin: 0;font-weight: 600;
  }
  .version{
    margin: 0;font-size: 20px;
  }
  .box{
    margin-top: 10rem;margin-bottom: 1rem;text-align: center;
  }