<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>账号与安全</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
  }
</style>
<ion-content color="light">
  <ion-list lines="none">
    <ion-item >
      <ion-label >微信号</ion-label>
      <ion-label slot="end" style="text-align: right;">{{wechatId}}</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/phone-settings']" [queryParams]="{phone:phone}">
      <ion-label >手机号</ion-label>
      <ion-label slot="end" style="text-align: right;">{{phone}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="album">
      <ion-label>微信密码</ion-label>
    </ion-item>
    <ion-item href="card">
      <ion-label>声音锁</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
      <ion-item href="expression">
          <ion-label>紧急联系人</ion-label>
        </ion-item>
    <ion-item href="expression">
      <ion-label>登陆设备管理</ion-label>
    </ion-item>
    <ion-item href="settings">
      <ion-label>更多安全设置</ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item href="#">
      <ion-label>帮朋友冻结微信</ion-label>
    </ion-item>
    <ion-item href="#">
        <ion-label>微信安全中心</ion-label>
      </ion-item>
  </ion-list>
</ion-content>