.title{
    background: #f4f5f8;
  }
  .searchIcon{
    width: 3rem;height: 3rem; color: green;
  }
  p{
    color: green;
  }
  .isExitInfo{
    height: 5rem;
  }
  .isExitInfoP{
    font-size: 16px;text-align: center;margin-top: 1.5rem;color: grey;
  }
  .searchLaber{
    display: contents;
  }