  <div>
    <ion-item>
      <ion-icon slot="start" color="medium" name="text"></ion-icon>
      <ion-label>发起群聊</ion-label>
    </ion-item>
    <ion-item (click)="addFriendPage()">
      <ion-icon slot="start" color="medium" name="person-add"></ion-icon>
      <ion-label>添加朋友</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="expand"></ion-icon>
      <ion-label>扫一扫</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="happy"></ion-icon>
      <ion-label>收付款</ion-label>
    </ion-item>
  </div>