<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="background: #f4f5f8;">设置密码</ion-title>
    <ion-button slot="end" [disabled]="disabledClick" style="position: absolute;right: 0rem;height: 2rem;" color="success" (click)="updatePassword()">完成
  </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <p style="font-size: 17px;text-align: center;opacity: 0.5;">设置密码后可以通过手机号+密码登陆</p>
  <ion-item style="--border-width:0">
    <ion-label style="font-size: 17px;width: 6rem;opacity: 0.7">微信号</ion-label>
    <ion-input readonly style="width:16rem;opacity: 0.7;" [(ngModel)]="wechatId"></ion-input>
  </ion-item>
  <ion-item style="--border-width:0">
    <ion-label style="font-size: 17px;width: 6rem;">旧密码</ion-label>
    <ion-input type = "password" placeholder="请输入旧密码" style="width:16rem;" [(ngModel)]="oldPwd"></ion-input>
  </ion-item>
  <ion-item style="--border-width:0">
    <ion-label style="font-size: 17px;width: 6rem;">新密码</ion-label>
    <ion-input type = "password" placeholder="请输入新密码" style="width:16rem;" [(ngModel)]="newPwd"></ion-input>
  </ion-item>
  <ion-item style="--border-width:0">
    <ion-label style="font-size: 17px;width: 6rem;">确认密码</ion-label>
    <ion-input type = "password" placeholder="请再次输入新密码" style="width:16rem;" [(ngModel)]="confirmPwd" (ionChange)="confirm()"></ion-input>
  </ion-item>
  <p style="font-size: 17px;text-align: center;opacity: 0.5;">密码必须至少八个字符,而且同时包含字母和数字</p>
  <div style="display: flex;align-items: center;justify-content: center;">
    <ion-card-subtitle style="font-size: 15px;margin: 0.5rem;" color="primary" (click)="showOptions()">
      忘记旧密码？</ion-card-subtitle>
  </div>
</ion-content>