<ion-header>
  <ion-toolbar style="opacity: 0.4;position: absolute;">
    <ion-buttons slot="start">
      <ion-back-button style="color:white;" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="background: #222428; color:white;">{{title}}</ion-title>
    <ion-buttons slot="secondary" style="position: absolute;right: 0rem;" (click)="selectActionSheet()">
      <ion-button>
        <ion-icon slot="icon-only" style="color:white;" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div style="margin-top: 3rem;">
    <p style="margin-bottom: 1rem;text-align: center;background: #222428; color:white;opacity: 0.7;">{{page}}</p>
    <ion-slides (ionSlidePrevEnd)="ionSlidePrevEnd()" (ionSlideNextEnd)="ionSlideNextEnd()">
      <ion-slide *ngFor="let ps of pictures;index as i">
        <img src="{{baseUrl}}/{{pictures[i]}}" />
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer style="background: #222428;">
  <p style="margin-bottom: 1rem;color:white;">{{text}}</p>
  <ion-item color="dark">
    <ion-icon (click)="clickLike()" name="heart-empty"></ion-icon>
    <ion-label style="max-width: 1rem;">赞</ion-label>
    <ion-icon name="text"></ion-icon>
    <ion-label style="max-width: 1rem;">评论</ion-label>

     <ion-icon (click)="showDetail()" slot="end" name="heart-empty"></ion-icon>
     <ion-icon (click)="showDetail()" slot="end" name="text"></ion-icon>
  </ion-item>
</ion-footer>